include ../components/ChatsItem.pug

aside.chats
    header
        .chats__to-profile
            a(href='./profile') 
                | Профиль
                include ../svg/icon-arrow-right.svg

        include ChatsSearch.pug
    
    section.chats__body
        +ChatsItem('Андрей', 'И Human Interface Guidelines и Material Design рекомендуют...', '10:49', 4)
        +ChatsItem('Вадим', 'Круто!', 'Пт', 0, true)
        +ChatsItem('Day.', 'Так увлёкся работой по курсу, что совсем забыл его анонсир...', '1 Мая 2020', 100)

