extends ../default.pug

append styles
    link(rel='stylesheet' href='/build/css/Pages/Profile/Profile.css')

block content
    .profile-page
        aside.profile-page__out
            a(href='/')
                include ../../svg/icon-back.svg

        main.profile-options
            header.profile-options__image
                include ../../svg/icon-user.svg

            include components/ProfileFields.pug

            if !isEditMode
                include components/ProfileFooter.pug

    +Popup({title: 'Загрузите файл', sendBtnText: 'Поменять', id: 'edit-user-image', isClosable: true})
        form.ajax-form
            <input type="file" name="avatar">

            .popup__footer
                +Button('primary', 'submit')
                    | Поменять