.input-control {
  position: relative;
  margin-bottom: 20px;
}

.input-control input {
  border: 0;
  border-bottom: 1px solid #3369F3;
  display: block;
  width: 100%;
  padding: 7px 0;
  font-size: 13px;
  outline: 0;
}

.input-control input::placeholder {
  display: block;
}

.input-control input:focus + label, .input-control input.touched + label {
  font-size: 9px;
  line-height: 9px;
  height: 50%;
  transform: translateY(-100%);
}

.input-control label {
  display: block;
  top: 0;
  width: 100%;
  font-size: 13px;
  line-height: 13px;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  color: #999999;
  transition: 300ms;
  cursor: text;
}
