.signin-page, .login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-404, .page-500, .index-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.page-404 ul, .page-500 ul, .index-page ul {
  text-align: left;
}

.page-404 h1, .page-500 h1, .index-page h1 {
  margin-top: 0;
  font-size: 40px;
}

.page-404 h4, .page-500 h4, .index-page h4 {
  font-size: 20px;
}

.page-404 a, .page-500 a, .index-page a {
  font-size: 14px;
}

.menu {
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-bottom: 15px;
}

.menu ul li:last-child {
  margin-bottom: 0;
}

.menu ul li svg {
  width: 16px;
  height: 16px;
}

.menu ul li svg {
  flex-shrink: 0;
  margin-right: 10px;
}

.menu ul a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  color: #1E1E1E;
  font-weight: 500;
}

.menu ul a:hover {
  opacity: 0.7;
}

.btn-send svg {
  width: 16px;
  height: 16px;
}
