include ../components/Button/Button.pug
include ../components/Popup/Popup.pug
include ../components/InputControl/InputControl.pug

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        
        block styles
            link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet')
            link(rel='stylesheet' href='../../css/core/style/reset-style.css')
            link(rel='stylesheet' href='../../css/core/style/app.css')
            link(rel='stylesheet' href='../../css/components/Popup/Popup.css')
            link(rel='stylesheet' href='../../css/components/button/Button.css')
            link(rel='stylesheet' href='../../css/components/InputControl/InputControl.css')
        title #{title}

    body
        block content

        script(src='../../js/controls.js')
        script(src='../../js/popups.js')
        script(src='../../js/app.js')
