include ../components/Button/Button.pug
include ../components/Popup/Popup.pug
include ../components/InputControl/InputControl.pug

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        
        block styles
            link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet')
            link(rel='stylesheet' href='/build/css/core/style/reset-style.css')
            link(rel='stylesheet' href='/build/css/core/style/app.css')
            link(rel='stylesheet' href='/build/css/components/Popup/Popup.css')
            link(rel='stylesheet' href='/build/css/components/button/Button.css')
            link(rel='stylesheet' href='/build/css/components/InputControl/InputControl.css')
        title #{title}

    body
        block content

        block scripts
            script(type="module" src='/build/src/components/InputControl/InputControl.js')
            script(type="module" src='/build/src/app.js')
