footer.profile-options__actions
    ul
        li
            a(href='#' class='edit-user-image') Изменить изображение
        li
            a(href='./profile/edit') Изменить данные
        li
            a(href='./profile/edit-pass') Изменить пароль
        li
            a(href='./login') <b>Выйти</b>