include Button.pug

mixin Popup(title = 'Заголовок окна', className, sendBtnText)
    div(class=`popup-wrap ${className}`)
        .popup
            h3.popup__title #{title}

            .popup__body
                block
