@import './consts.scss';
@import './mixins.scss';

body {
    font-family: 'Roboto', sans-serif;
    color: $app_text_color;
    padding: 0;
    margin: 0;

    * {
        box-sizing: border-box;
    }
}

a, button {
    transition: $transition_ms;
}

a {
    color: $link_color;

    &:visited {
        color: $link_color;
    }
}