doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        
        block styles
            link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet')
            link(rel='stylesheet' href='./css/reset-style.css')
            link(rel='stylesheet' href='./css/app.css')
            link(rel='stylesheet' href='./css/popups.css')
            link(rel='stylesheet' href='./css/buttons.css')
            link(rel='stylesheet' href='./css/controls.css')
        title #{title}

    body
        block content

        script(src='./js/controls.js')
        script(src='./js/popups.js')
        script(src='./js/app.js')
