extends default.pug

include ../components/Popup.pug
include ../components/InputControl.pug

block content
    .login-page
        +Popup('Вход', 'popup-wrap_active')
            form.ajax-form
                +InputControl('login', 'Логин', 'text')
                +InputControl('password', 'Пароль', 'password')

                .popup__footer
                    +Button('primary', 'submit')
                        | Авторизоваться
                    a(href='./signin') Нет аккаунта?