@import './consts.scss';
@import './mixins.scss';
@import './popups.scss';
@import './controls.scss';
@import './buttons.scss';

.app {
    font-family: 'Roboto', sans-serif;
    color: $app_text_color;
    padding: 0;
    margin: 0;

    * {
        box-sizing: border-box;
    }
}

a, button {
    transition: $transition_ms;
}

a {
    color: $link_color;

    &:visited {
        color: $link_color;
    }
}

.signin-page, .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chats-page {
    display: flex;
}

.chats-list {
    padding: 20px 10px;
    width: 30%;
    height: 100vh;
    background-color: $chats_list_bg_color;
    border-right: $chats_list_border;
    overflow: auto;

    header {
        margin-bottom: 15px;
    }

    &__search {
        position: relative;

        input {
            border: 0;
            display: block;
            width: 100%;
            padding: $input_padding;
            padding-right: 30px;
            font-size: 13px;
            outline: 0;
            background-color: $chats_list_search_bg_color;
            transition: $transition_ms;
            border-radius: 5px;

            &:focus {
                opacity: 0.7;
            }
        }
    
        @include svg_sizes(12px);

        .btn {
            position: absolute;
            right: 10px;
            top: 8px;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__to-profile {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;

        a {
            font-size: 12px;
            color: #999999;
            text-decoration: none;
            display: flex;
            align-items: center;

            @include svg_sizes(10px);

            svg {
                margin-left: 5px;
            }

            &:hover, &:focus, &:active {
                opacity: 0.7;
            }
        }
    }
}

.chats-list-item {
    border-top: $chats_list_border;
    border-bottom: $chats_list_border;
    padding: 10px 0;
    position: relative;
    display: flex;

    &:last-child {
        border-bottom: 0;
    }

    &_current {
        &:before {
            content: "";
            z-index: 0;
            position: absolute;
            top: 2px;
            bottom: 2px;
            left: -5px;
            right: -5px;
            background-color: $chats_list_item_current_bg_color;
        }
    }

    &__title {
        font-size: 13px;
        margin: 0 0 5px;
    }

    &__desc {
        font-size: 12px;
        color: $input_label_color;
    }

    &__time {
        font-size: 9px;
        color: $input_label_color;
        position: absolute;
        right: 0;
        top: 10px;
    }

    &__unread {
        font-size: 10px;
        background-color: $input_border_color;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        position: absolute;
        right: 0;
        bottom: 10px;
    }

    &__img {
        width: 47px;
        height: 47px;
        flex-shrink: 0;
        border-radius: 50%;
        border: $chats_list_border;
        position: relative;
        z-index: 1;

        &_empty {
            svg {
                opacity: 0.2;
            }
        }
    }

    &__body {
        padding-left: 10px;
        padding-right: 45px;
        position: relative;
        z-index: 1;
    }
}

.chat-history {
    padding: 20px;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__time {
        margin-bottom: 20px;
        text-align: center;
        font-size: 12px;
        color: $input_label_color;
    }

    header {
        border-bottom: $chats_list_border;
        padding-bottom: 10px;
        @include v_align();
    }

    footer {
        border-top: $chats_list_border;
        padding-top: 20px;
        @include v_align();

        .input-control {
            flex-grow: 1;
            margin: 0 10px;
        }
    }

    &__body {
        padding: 40px 0;
        flex-grow: 1;
    }

    &__placeholder {
        @include vh_align();
        font-size: 12px;
        color: $input_label_color;
    }

    &__chat-name {
        display: flex;
        align-items: center;
        
        h3 {
            font-size: 13px;
            margin: 0;
        }

        @include svg_sizes(47px);

        svg {
            flex-shrink: 0;
            margin-right: 10px;
            border-radius: 50%;
            opacity: 0.2;
        }
    }
}

.chat-history-item {
    max-width: 400px;
    background: $chats_list_item_bg_color;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 20px;

    &_own {
        float: right;
        background-color: $chats_list_item_current_bg_color;
    }

    &__is-read {
        @include svg_sizes();
        margin-left: 20px;
    }

    &__footer {
        display: flex;
        @include v_align();
    }
}

.chat-actions {
    position: relative;

    &__toggle-menu {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &:hover {
            background-color: $chats_list_border_color;
        }

        @include svg_sizes;
    }

    .menu {
        position: absolute;
        right: 0;
        top: 30px;
        width: 210px;
    }
}

.chat-attachment {
    position: relative;

    &__toggle-menu {
        @include svg_sizes();
    }

    .menu {
        position: absolute;
        left: 0;
        bottom: 35px;
        width: 160px;
    }
}

.menu {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 15px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            @include svg_sizes();

            svg {
                flex-shrink: 0;
                margin-right: 10px;
            }
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 12px;
            color: $app_text_color;
            font-weight: 500;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.btn-send {
    @include svg_sizes();
}

.profile-page {
    display: flex;

    &__out {
        width: 70px;
        flex-shrink: 0;
        background-color: $chats_list_bg_color;
        border-right: $chats_list_border;
        height: 100vh;

        a {
            display: flex;
            @include vh_align();

            &:hover {
                opacity: 0.7;
            }

            @include svg_sizes(32px);
        }
    }
}

.profile-options {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image {
        margin-bottom: 20px;

        @include svg_sizes(100px);
    }

    &__fields {
        max-width: 500px;
        width: 100%;

        input {
            &:disabled {
                padding-left: 10px;
            }
        }
    }

    &__actions {
        max-width: 500px;
        width: 100%;
        padding-top: 20px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 10px;
            }

            a {
                text-decoration: none;

                b {
                    color: red;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}