// size
$popup_width_xs: 340px;

// color
$app_text_color: #1E1E1E;
$popup_bg_color: #FFFFFF;
$input_border_color: #3369F3;

// border
$popup_border_radius: 12px;
$popup_box_shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
$input_border: 1px solid $input_border_color;

// gutter
$popup_padding: 30px;
$input_padding: 7px;

// font
$popup_title_font_size: 20px;
$popup_title_font_weight: 500;

// animation
$transition_ms: 300ms;