@mixin vh_align {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

@mixin v_align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin svg_sizes($s: 16px) {
    svg {
        width: $s;
        height: $s;
    }
}