.chats-page {
  display: flex;
}

.chats {
  padding: 20px 10px;
  width: 30%;
  height: 100vh;
  background-color: #FBFBFB;
  border-right: 1px solid #EAEAEA;
  overflow: auto;
}

.chats header {
  margin-bottom: 15px;
}

.chats__search {
  position: relative;
}

.chats__search input {
  border: 0;
  display: block;
  width: 100%;
  padding: 7px;
  padding-right: 30px;
  font-size: 13px;
  outline: 0;
  background-color: #EFEFEF;
  transition: 300ms;
  border-radius: 5px;
}

.chats__search input:focus {
  opacity: 0.7;
}

.chats__search svg {
  width: 12px;
  height: 12px;
}

.chats__search .btn {
  position: absolute;
  right: 10px;
  top: 8px;
}

.chats__search .btn:hover {
  opacity: 0.7;
}

.chats__to-profile {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.chats__to-profile a {
  font-size: 12px;
  color: #999999;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.chats__to-profile a svg {
  width: 10px;
  height: 10px;
}

.chats__to-profile a svg {
  margin-left: 5px;
}

.chats__to-profile a:hover, .chats__to-profile a:focus, .chats__to-profile a:active {
  opacity: 0.7;
}

.chats-item {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  padding: 10px 0;
  position: relative;
  display: flex;
}

.chats-item:last-child {
  border-bottom: 0;
}

.chats-item_current:before {
  content: "";
  z-index: 0;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: -5px;
  right: -5px;
  background-color: #E4EDFD;
}

.chats-item__title {
  font-size: 13px;
  margin: 0 0 5px;
}

.chats-item__desc {
  font-size: 12px;
  color: #999999;
}

.chats-item__time {
  font-size: 9px;
  color: #999999;
  position: absolute;
  right: 0;
  top: 10px;
}

.chats-item__unread {
  font-size: 10px;
  background-color: #3369F3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.chats-item__img {
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #EAEAEA;
  position: relative;
  z-index: 1;
}

.chats-item__img_empty svg {
  opacity: 0.2;
}

.chats-item__body {
  padding-left: 10px;
  padding-right: 45px;
  position: relative;
  z-index: 1;
}

.chat-history {
  padding: 20px;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-history__time {
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
  color: #999999;
}

.chat-history header {
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-history footer {
  border-top: 1px solid #EAEAEA;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-history footer .input-control {
  flex-grow: 1;
  margin: 0 10px;
}

.chat-history__body {
  padding: 40px 0;
  flex-grow: 1;
}

.chat-history__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 12px;
  color: #999999;
}

.chat-history__chat-name {
  display: flex;
  align-items: center;
}

.chat-history__chat-name span {
  font-size: 13px;
  margin: 0;
  font-weight: 500;
}

.chat-history__chat-name svg {
  width: 47px;
  height: 47px;
}

.chat-history__chat-name svg {
  flex-shrink: 0;
  margin-right: 10px;
  border-radius: 50%;
  opacity: 0.2;
}

.chat-history-item {
  max-width: 400px;
  background: #F8F8F8;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 20px;
}

.chat-history-item_own {
  float: right;
  background-color: #E4EDFD;
}

.chat-history-item__is-read {
  margin-left: 20px;
}

.chat-history-item__is-read svg {
  width: 16px;
  height: 16px;
}

.chat-history-item__footer {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-actions {
  position: relative;
}

.chat-actions__toggle-menu {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.chat-actions__toggle-menu:hover {
  background-color: #EAEAEA;
}

.chat-actions__toggle-menu svg {
  width: 16px;
  height: 16px;
}

.chat-actions .menu {
  position: absolute;
  right: 0;
  top: 30px;
  width: 210px;
}

.chat-attachment {
  position: relative;
}

.chat-attachment__toggle-menu svg {
  width: 16px;
  height: 16px;
}

.chat-attachment .menu {
  position: absolute;
  left: 0;
  bottom: 35px;
  width: 160px;
}
