body {
  font-family: 'Roboto', sans-serif;
  color: #1E1E1E;
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

a, button {
  transition: 300ms;
}

a {
  color: #3369F3;
}

a:visited {
  color: #3369F3;
}
